* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(209, 214, 218);
}

.header {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 1005;
  padding: 20px 50px;
}

.logo {
  width: 45px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav, ul {
  display: flex;
  align-items: center;
  gap: 70px;
}

li a {
  color: rgb(255, 255, 255);
}

li a:hover {
  background: black;
  padding: .8rem;
  border-radius: 10px;
}

button {
  padding: .8rem;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

button:hover {
  background: black;
  color: white;
}